body {
    background-color: rgba(143, 212, 189, 0.733);
}
.btns-login {
    margin:auto;
    background-color: rgba(143, 212, 189, 0.733);
}

.btns-login h2 {
    margin: auto;
    text-align: center;
    padding-top: 4%;
    color: rgb(66, 64, 64);
    font-size: 1.5em;
}
.btns-login h3 {
    margin: auto;
    text-align: center;
    padding-top: 2%;
    color: gray;
    font-size: 1.2em;
}
.btns-login h4 {
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
    color: rgba(7, 58, 54, 0.836);
    font-size: 1em;
}
.user-loged h3 {
    margin: auto;
    text-align: center;
}
.user-loged h4 {
    margin: auto;
    text-align: center;
}
.user-loged .photo-user {
margin: auto;
text-align: center;
width: 5rem;
position: fixed;
left: 10px;
top: 10px;
border-radius: 30px;
}
.user-loged .btn-user {
    margin: auto;
text-align: center;
font-size: 1.5em;
width: 5rem;
position: fixed;
right: 0px;
top: 10px;
background-color: rgba(21, 108, 190, 0.74);
}
.conductor-dasboard {
    padding-top: 40px;
}