body {
    background-color: rgba(143, 212, 189, 0.733);
}
.btns-login {
    margin:auto;
    background-color: rgba(143, 212, 189, 0.733);
}

.btns-login h3 {
    margin: auto;
    text-align: center;
    padding-top: 6%;
    padding-bottom: 3%;
    color: gray;
}
